body{
  font-family: 'Roboto', sans-serif;
  position: relative;
  /* background-image: url("../images/quiz_background.jpg"); */

}

body::after {
  content: "";
  background-image: url("../images/quiz_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}
.navbar {
  margin-left: 4em;
  margin-right: 4em;
}

.container {
 max-width:1400px;
}
.container-quizz {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
  border: lightgrey solid 1px;
  width: 800px ;
}

#carouselExampleSlidesOnly {
  /* float: right; */
  width: 500px;
  height: 800px;
}

.carousel-item {
  height: 250px;
}

h1,h2,h3,h4,h5{
  font-family: 'Slabo 27px', serif;
}

h2,h3,h4,h5{
  font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #337ab7;
}

h2 .badge{  
  font-size: 50%;
}

.background-blue{
  background-color: #337ab7;  
}

.background-grey{
  background-color:#e6e6e6e6;
}

.text-blue{
  color: #337ab7;  
}

.question-title{
  font-size:14px;
}

.question-answer-block{
  font-size:12px;
}

.btn-subject {
  margin-left: 2.5em;
}

.home-hello {
  font-style: italic;
  margin-left: 2em;
}

